.youtubeButton {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid #fff;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000; /* Default text color is black */
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
  }
  
  .youtubeButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: red;
    transition: left 0.3s ease;
    z-index: -1;
  }
  
  .youtubeButton:hover::before {
    left: 0;
  }
  
  .youtubeButton:hover {
    color: #fff; /* Change text color to white on hover */
  }
  