@font-face {
    font-family: "Sana Sans Alt W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.eot");
    src: url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.eot?#iefix")
        format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.woff2") format("woff2"),
      url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.woff") format("woff"),
      url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.ttf") format("truetype"),
      url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.svg#Sana Sans Alt W00 Regular")
        format("svg");
  }
  
  .heroSection {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    max-height: 500px; /* Constrain maximum height */
    overflow: hidden;
    background-color: #f0f0f0;
  }
  
  .heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: none;
  }
  
  @keyframes fadeInLogo {
    from {
      opacity: 0;
      transform: translateY(-50px) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  @keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .heroText {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    font-size: 2vw; /* Responsive scaling */
    font-family: "Century Gothic", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Initially hidden */
    animation: fadeInText 1.5s ease-in-out forwards;
  }
  
  .heroLogo {
    position: absolute;
    bottom: 18%;
    left: 5%;
    width: 20%;
    height: auto;
    opacity: 0;
    animation: fadeInLogo 2s ease-in-out, pulse 4s ease-in-out 5.5s infinite;
    animation-fill-mode: forwards;
    filter: drop-shadow(0 0 40px rgba(255, 255, 255, 1)) 
            drop-shadow(0 0 20px rgba(255, 255, 255, 0.8)) 
            drop-shadow(0 0 40px rgba(255, 255, 255, 1));
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .heroSection {
      max-height: 300px;
    }
  
    .heroImage {
      height: auto;
    }
  
    .heroText {
      font-size: 2.5vw;
    }
  
    .heroLogo {
      width: 25%; /* Adjust for smaller screens */
      bottom: 15%;
    }
  }
  