/* General styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Main content layout */
.mainContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Landing container */
.landingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  min-height: calc(100vh - 53px); /* Adjust for header height */
}

/* Image container */
.landingImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 90vh;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Text content */
.contentText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Century Gothic', sans-serif;
  color: #333;
  padding-right: 5%;
  font-size: 1.2rem;
  line-height: 1.8;
}

.contentText h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #03969b;
  margin-bottom: 20px;
}

.contentText p {
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.fundingInfo {
  font-size: 0.9rem;
  color: #666;
}

/* Button container */
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .landingContainer {
    flex-direction: column;
  }

  .landingImageContainer {
    margin-bottom: 20px;
  }

  .landingImage {
    width: 90%;
  }

  .contentText {
    text-align: center;
    padding-right: 0;
    font-size: 1rem;
  }

  .contentText h2 {
    font-size: 1.5rem;
  }

  .contentText p {
    font-size: 0.95rem;
  }
}
