/* incrisisstyle.module.css */

/* Emergency text style */
.inCrisisemerg {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: left;
}

/* List styles */
.inCrisisList {
  margin: 20px auto;
  max-width: 750px; /* Ensure it doesn't stretch too wide */
  line-height: 1.2;
}

.inCrisisListItem {
  font-size: 0.95rem;
  line-height: 0.80;
  margin-bottom: 1.5rem;
}

/* Link styles specific to this page */
.inCrisisLink {
  color: #0073e6;
  text-decoration: none;
}

.inCrisisLink:hover {
  text-decoration: underline;
}

/* Image styles specific to this page */
.inCrisisImage {
  float: right; /* Float to the right of the initial paragraph */
  margin-left: 20px; /* Add space between image and text */
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inCrisisQRCode {
  display: block;
  margin: 2rem auto; /* Center the QR code */
  max-width: 120px;
  height: auto;
}
