.container {
    padding: 20px;
}

h1 {
    font-family: "Century Gothic";
    color: #0093a2;
}

.focusAreaButton,
.tagsButton {
    background-color: transparent;
    border: none;
    color: #0093a2;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 8px;
    text-decoration: underline;
}

.focusAreaButton:hover,
.tagsButton:hover {
    color: #d27a14;
}



.searchBar {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.categoryContainer {
    margin-bottom: 5px;
}

.categoryButton {
    position: relative;
    overflow: hidden;
    height: 3rem;
    width: 300px; /* Fixed width for larger screens */
    max-width: 90%; /* Dynamic for smaller screens */
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: "Century Gothic";
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryButton:hover::before {
    transform: scaleX(1);
}

.categoryButton span {
    position: relative;
    z-index: 1;
}

.categoryButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      #0093a2 10.8%,
      rgba(3, 150, 155, 1) 94.3%
    );
    transition: all 0.875s;
}



/* Initial state (hidden) */
.slide-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

/* Entering state (transition applied) */
.slide-enter-active {
    max-height: 800px; /* Match actual content height */
    opacity: 1;
    transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

/* Exiting state */
.slide-exit {
    max-height: 800px;
    opacity: 1;
    overflow: hidden;
    padding-bottom: 10px; /* Buffer to prevent snapping */
}

/* Exiting transition */
.slide-exit-active {
    max-height: 0;
    opacity: 0;
    padding-bottom: 0; /* Remove padding smoothly */
    transition: max-height 1s ease, opacity 0.8s ease;
}


.resourceList {
    display: block;
    margin-top: 0.2rem;
}

.resourceCard {
    display: flex;
    align-items: center;
    border: 2px solid #999;
    padding: 10px;
    background-color: #fcfcfc;
    border-radius: 20px;
    margin-bottom: 5px;
}

.resourceImage {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.divider {
    border-left: 3px solid #999;
    height: auto;
    align-self: stretch;
    margin: 0 10px;
}

.resourceDetails {
    flex: 1;
}

.resourceDetails h3 {
    color: #0093a2;
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
}

.resourceDetails p {
    font-size: 0.9rem;
    margin: 5px 0;
}

/* Link hover underline effect */
.resourceDetails a {
    position: relative;
    color: #0093a2;
    text-decoration: none;
}

.resourceDetails a:hover {
    color: #d27a14;
}

.resourceDetails a::before,
.resourceDetails a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #d27a14;
    transition: width 0.7s ease;
    width: 0;
}

.resourceDetails a::before {
    left: 50%;
}

.resourceDetails a::after {
    right: 50%;
}

.resourceDetails a:hover::before,
.resourceDetails a:hover::after {
    width: 50%;
}
