/* Staff Page Styles */
  .staffHeaderImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
 /* Responsive Styles */
  @media (max-width: 768px) {
    .staffContainer {
      padding: 15px;
    }
  
    .staffContent h3 {
      font-size: 1.3rem;
    }
  
    .staffContent p {
      font-size: 1rem;
    }
  }
  